.App {
  text-align: center;
  -webkit-user-select: none;
  user-select: none;
  -moz-user-select: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

textarea {
  width: 100%;
  height: 30vh;
}
h1 {
  text-align: center;
}

label {
  font-size: 15pt;
  margin-left: 5px;
  color: white;
}
.side-by-side {
  text-align: left;
  width: 45vw;
  position: relative;
  padding-bottom: 50px;
}
.name-list {
  padding-left: 15vw;
  width: 30vw;
}
.strike {
  text-decoration: line-through;
}